<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parrafito</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/own_styles/styless_global.css">
</head>
<body>
    <!--    .col    X-Small	None	<576px
            .col-sm Small	sm	    ≥576px
            .col-md Medium	md	    ≥768px
            .col-lg Large	lg	    ≥992px
            .col-xl Extra large	xl	≥1200px
                Extra extra large	
            .col-xxl    xxl	            ≥1400px 
    -->
    <header class='container header_parrafito'>
        <div class="row">
            <div class="col-12">
                <h2>Parrafito</h2>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h3>"Alguien me contó"</h3>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nostrum ut, velit officia obcaecati asperiores delectus blanditiis nihil animi eum dolores molestiae fugiat, incidunt maxime quod autem expedita. Ab, officiis?
                </p>
                <button class="btn btn-primary">Ver más</button>

            </div>
            <div class="col-12 col-sm-6">
                <h3>"Leí que son..."</h3>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nostrum ut, velit officia obcaecati asperiores delectus blanditiis nihil animi eum dolores molestiae fugiat, incidunt maxime quod autem expedita. Ab, officiis?
                </p>
                <button class="btn btn-primary">Ver más</button>

            </div>
            <div class="col-12">
                <h1>"Qué, cómo, quién, dónde"</h1>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nostrum ut, velit officia obcaecati asperiores delectus blanditiis nihil animi eum dolores molestiae fugiat, incidunt maxime quod autem expedita. Ab, officiis?
                </p>
                <button class="btn btn-primary">Ver más</button>

            </div>
        </div>
    </div>
    <footer class='container footer_parrafito'>
        <div class="row">
            <div class="col-12">
                <h6>By Emilia Ustarroz</h6>
            </div>
        </div>
    </footer>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>