<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/own_styles/styless_global.css">
    <title>Administradores del sistema</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h1>Administración de usuarios del sistema</h1>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm table-bordered border-danger">
                        <caption>Lista de usuarios del sistema</caption>
                        <thead>
                            <tr class="table-dark text-white">
                                <th>ID</th>
                                <th>USUARIO</th>
                                <th>ROL</th>
                                <th>ACCIONES</th>
                            </tr>
                        </thead>
                        <tody>
                            <tr>
                                <td>1</td>
                                <td>Walter Leskovar</td>
                                <td>Administrador</td>
                                <td>mod. / baja</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Walter Leskovar</td>
                                <td>Administrador</td>
                                <td>mod. / baja</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Walter Leskovar</td>
                                <td>Administrador</td>
                                <td>mod. / baja</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Walter Leskovar</td>
                                <td>Administrador</td>
                                <td>mod. / baja</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
    <script src="js/bootstrap.bundle.min.js"></script> 
</body>
</html>